In [0]:
import requests
import json
import pandas as pd
import time

In [0]:
after = 0
sub = "uber"
size = 1000
score = 20
newdf = pd.DataFrame(columns=["title","score","created_utc"])
print(newdf.head())

while(True):
  url = "https://api.pushshift.io/reddit/search/submission/?subreddit={}&score=%3E{}&size={}&sort=asc&sort_type=created_utc&after={}".format(sub, score, size, after)
  r = requests.get(url)
  print(r)
  data = r.json()
  # if newdf.shape[0] == 0:
  #   newdf = pd.DataFrame(data["data"]).filter(["title","score","created_utc"], axis=1)
  # else:
  newdf = newdf.append(data["data"], ignore_index=True).filter(["title","score","created_utc"], axis=1)
  print(newdf.shape)
  after = newdf["created_utc"][newdf.shape[0] - 1]
  
  if (int(newdf.shape[0]) < 999):
    break
  
newdf.head()

Empty DataFrame
Columns: [title, score, created_utc]
Index: []
<Response [200]>
(645, 3)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

                                               title score created_utc
0     PSA from an Uber driver on rating your driver.    22  1406423484
1  Is rating a driver a 4 actually like telling U...    22  1422892697
2  My recommendations on getting your driver exac...    21  1422907306
3  Uber should make comments mandatory for any ra...    41  1425586306
4  With uber banned, Las Vegas taxis are a comple...    22  1426197083

In [0]:
print(newdf['created_utc'][newdf.shape[0] - 1])
print(newdf.shape)

1578157177
(645, 3)

In [0]:
newdf.to_csv("reddits.csv")

In [0]:
newdf.head()

                                               title score created_utc
0     PSA from an Uber driver on rating your driver.    22  1406423484
1  Is rating a driver a 4 actually like telling U...    22  1422892697
2  My recommendations on getting your driver exac...    21  1422907306
3  Uber should make comments mandatory for any ra...    41  1425586306
4  With uber banned, Las Vegas taxis are a comple...    22  1426197083

In [0]:
import numpy as np
from math import log

copyDf = newdf.copy()
print(copyDf.score.max())
copyDf.score = copyDf.score.apply(log) / log(45586)

203

In [0]:
copyDf.head()

                                               title     score created_utc
0     PSA from an Uber driver on rating your driver.  0.288146  1406423484
1  Is rating a driver a 4 actually like telling U...  0.288146  1422892697
2  My recommendations on getting your driver exac...  0.283809  1422907306
3  Uber should make comments mandatory for any ra...  0.346178  1425586306
4  With uber banned, Las Vegas taxis are a comple...  0.288146  1426197083

In [0]:
copyDf.to_csv("redditsNew.csv")

In [0]:
copyDf.describe()

            score
count  645.000000
mean     0.329332
std      0.038137
min      0.283809
25%      0.300062
50%      0.320115
75%      0.348424
max      0.495295